<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  <!-- Set character encoding to the most comon character enconding used on the web (supports most languages) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Set the width of the viewport to the width of the device, set the initial scale of the page to 1.0 (natural size) -->
        
        <title>Add a Book - Bibliography</title>
        <link rel="shortcut icon" type="image/x-icon" href="../img/bibliography_favicon.ico?v=1.1" />
        
        <link href="../styles/main.css" rel="stylesheet" type="text/css" />
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    </head>

    <body>
        <!-- NAVBAR -->
        <header class="header">
            <a href="/" class="logo">Bibliography</a>
        </header>

        <!-- SEARCH_BOX -->
        <div class="search-box" id="search-in-catalogue">
            <div class="search-row">
                <input type="text" id="input-box" placeholder="Search for a book, or an author" autocomplete="off">
                <button><span class="material-symbols-outlined">search</span></button>
            </div>
            <div class="result-box">
            </div>
        </div>
        <script src="/scripts/searchresults.js"></script>

        <!-- PAGE_INFO -->
        <h1 class="current-page-title">Add a Book</h1>
        <hr class="page-info-divider">        
        
        <!-- FORM UPLOAD FILE -->
        <form action="/api/addbook" method="POST" enctype="multipart/form-data" class="add-book-form">
            <div>
                <label for="bookcover">Book Cover:</label>
                <input type="file" name="add_cover" id="add_cover" accept="image/*" required>
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" name="add_title" id="add_title" required>
            </div>
            <div>
                <label for="author">Author:</label>
                <input type="text" name="add_author" id="add_author" required>
            </div>
            <div>
                <label for="genre">Genres:</label>
                <div class="genre-container">
                    <input type="hidden" name="add_genres" id="selectedGenres" required 
                    oninvalid="this.setCustomValidity('Please select at least one genre')" 
                    oninput="this.setCustomValidity('')">
                </div>
                <div class="selection-count">0 of 3 potential genres selected</div>
                <div class="genre-error" style="color: #dd5757; display: none;">Please select at least one genre</div>
                <script src="/scripts/selectgenres.js"></script>
            </div>
            <div>
                <label for="description" id="add-book-description">Description:</label>
                <textarea name="add_description" id="add_description" rows="4" cols="100" placeholder="Add the book's descrption or synopsis here..." required></textarea>
            </div>
            <button type="submit" id="add-book-from-catalogue">Submit Book</button>
        </form>

        
    </body>

</html>
