<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  <!-- Set character encoding to the most comon character enconding used on the web (supports most languages) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Set the width of the viewport to the width of the device, set the initial scale of the page to 1.0 (natural size) -->
        
        <title>Add a Book - Bibliography</title>
        <link rel="shortcut icon" type="image/x-icon" href="../img/bibliography_favicon.ico?v=1.1" />
        
        <link href="../styles/main.css" rel="stylesheet" type="text/css" />
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>

    <body>
        <!-- NAVBAR -->
        <header class="header">
            <a href="/" class="logo">Bibliography</a>
        </header>

        <!-- SEARCH_BOX -->
        <div class="search-box" id="search-in-catalogue">
            <div class="search-row" id="search-row-id">
                <input type="text" id="input-box" placeholder="Search for a book, or an author" autocomplete="off">
                <button><span class="material-symbols-outlined">search</span></button>
            </div>
            <div class="result-box">
            </div>
        </div>

        <!-- PAGE_INFO -->
        <h1 class="current-page-title">{Book Title}</h1>
        <h1 class="current-book-genre">{Book Genre}</h1>
        <hr class="page-info-divider">
        
        <!-- CATALOGUE_FEATURES -->
        <a href="/add" id="add-book-from-bookinfo">Add Book</a>

        <!-- BOOK COVER -->
        <img class="book-cover-in-bookinfo" draggable="false" src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1451445646i/18143977.jpg">

        <!-- BOOK INFO -->
        <div class="book-info">
            <p class="book-description">
                Marie-Laure lives in Paris near the Museum of Natural History, where her father works. When she is twelve, the Nazis occupy Paris and father and daughter flee to the walled citadel of Saint-Malo, where Marie-Laure's reclusive great uncle lives in a tall house by the sea. With them they carry what might be the museum's most valuable and dangerous jewel.
            </p>
            <p class="book-description">
                In a mining town in Germany, Werner Pfennig, an orphan, grows up with his younger sister, enchanted by a crude radio they find that brings them news and stories from places they have never seen or imagined. Werner becomes an expert at building and fixing these crucial new instruments and is enlisted to use his talent to track down the resistance. Deftly interweaving the lives of Marie-Laure and Werner, Doerr illuminates the ways, against all odds, people try to be good to one another.
            </p>
            <p class="book-info-author">
                Anthony Doerr
            </p>
        </div>

    <script src="../../scripts/searchresults.js"></script>
    </body>

</html>

