<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Set character encoding to the most comon character enconding used on the web (supports most languages) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Set the width of the viewport to the width of the device, set the initial scale of the page to 1.0 (natural size) -->

        <title>OFFLINE - Bibliography</title>
        <link href="../styles/main.css" rel="stylesheet" type="text/css" />
        <link rel="manifest" href="../manifest.json" />
    </head>

    <body>
        <!-- NAVBAR -->
        <header class="header">
            <a href="/" class="logo">Bibliography</a>
        </header>
        <p id="center-text-on-screen">
            <span
                style="
                    font-family: 'Chakra Petch', monospace;
                    font-size: 2rem;
                ">
                    <b style="font-family: 'Chakra Petch', monospace;">Sorry</b>, we could not load this page.
            </span>

            <br /><br /><br /><b>1.</b>  Please <span style="text-decoration: underline;">check your internet connection</span> then refresh this page, or restart your browser.
            <br /><span style="font-size: 0.9rem;">(We will cache the loaded data once you're online to make this page accessible offline.)</span>
            <br /><br /><b>2.</b>  If doing the above does not work, it means that <span style="text-decoration: underline;">this is not a valid URL</span>.<br />Please click on our logo on the top left to go to the homepage.
        </p>
    </body>

    <script src="/scripts/app.js"></script>
</html>
